<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crawler</title>
</head>
<body>
<h2>Links on {{ url | urlizetrunc:60 }}</h2>
{# Below we are displaying all relative links from the webpage as a simple one column table. #}
<h3>Local links:</h3>
<table>
    <tr>
        <th>Link</th>
    </tr>
    {% for link in local_links %}
        <tr style="text-align: left">
            <th> {{ link | urlizetrunc:60 }} </th>
        </tr>
    {% endfor %}
</table>

{# Below we are displaying all other links, grouped by top level domain. #}
<h3>Global links:</h3>
<table>
    <tr>
        <th>Site</th>
        <th>Link</th>
    </tr>
    {% for netloc, links in global_links.items %}
        <tr style="text-align: left">
            <th style="font-weight: normal"> {{ netloc | truncatechars:60 }} </th>
            <th> {{ links.0 | urlizetrunc:60 }} </th>
        </tr>
        {# For a better view we do not write hostname each row. #}
        {# Maybe it should be changed if we want a parsing friendly interface. #}
        {% for link in links|slice:"1:" %}
            <tr style="text-align: left">
                <th></th>
                <th> {{ link | urlizetrunc:60 }} </th>
            </tr>
        {% endfor %}
    {% endfor %}
</table>
</body>
</html>